*{
    box-sizing: border-box;
}

body{
    background-color: #212529;
}
/* Headers */
#header{
    background-color: #ff99f6;
}
#header-bg-image{
    width: 50%;
}
/* Cards */
.card {
    display:inline-block;
    /* width: 280px; */
    /* margin: 2em; */
    border: 0;
    background-color: #f8f9fa!important;
    /* margin: 2.3em 2em 2.3em 2em; */
    /* padding: 0em; */
}
.card-img-top{
    width: 100%;
    height: 15vw;
    object-fit: cover;
}
.card-text{
    font-size: 13px;
}
.card-body{
    margin: 1em;
}
.artist-info{
    text-align: justify;
    font-size: 12px;
    margin-top: 1.4em;
}
.card-title a, .card-title a:link, .card-title a:visited{
    color: #fc3583;
}
.card-title a:hover, .card-title a:focus, .card-title a:active{
    color: #ee335b;
}

.card-img-top {
    height: 21vw;
}
.align-items-stretch {
    margin-bottom: 3em !important;
}
.class0{
    margin-left: 7em;
}
.class1{
    margin: 0em 3.5em 0em 3.5em;
}
.class2{
    margin-right: 7em;
}
/* Bottom api link */
#api-link{
    color: #ff99f6;
}
#api-link a, #api-link a:link, #api-link a:visited{
    color: #ff99f6;
}
